@{
    ViewData["Title"] = "Sales Web";
    ViewData["Message"] = "Web based project using ASP.NET Core MVC and Entity Framework with MySQL Database.";
}
<h2>@ViewData["Title"]</h2>

<p>@ViewData["Message"]</p>
<hr />

<div>
    <h2>Implemented</h2>
    <ul>
        <li><a asp-controller="Sellers" asp-action="Index">Sellers</a></li>
        <li><a asp-controller="Departments" asp-action="Index">Departments</a></li>
        <li><a asp-controller="SalesRecords" asp-action="Index">Sales simple search</a></li>
        <li><a asp-controller="SalesRecords" asp-action="Index">Sales grouping search</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Model%E2%80%93view%E2%80%93controller">Model–view–controller (MVC) software design pattern</a></li>

    </ul>
</div>
<br />
<address>
    <strong>More information: </strong> <a href="http://educandoweb.com.br">Educandoweb.com.br</a>
</address>